/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    } */

body{
    font-family: 'Montserrat', sans-serif;
    /* background-color: azure; */
}
.title{
    margin-top:-60px;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

.container{
    position: relative;
    margin-left:80px;
    
    overflow: hidden;
}

#kyle{
    transform: scale(.3);
    margin-top: -900px;
    margin-left: -900px;
}

.project{
    padding-top: 10px;
    margin-top: 0;
    padding-bottom: 80px;
}
